<div class="navigation">
    <div class="logo">
        <a href="{{ site.baseurl }}/">
            <!-- LIT Human-centered AI Group -->
            <img class="logo-header-svg" src="{{ site.baseurl }}/assets/images/logos/hcai-mms-logo.svg" alt="LIT Human-centered AI Group - Logo">
        </a>
    </div>

    <div class="logo-subtitle">Associated with the <nobr><a href="https://www.jku.at/linz-institute-of-technology/" target="_blank">Linz Institute of Technology</a></nobr> and the <nobr><a href="https://www.jku.at/en/institute-of-computational-perception/" target="_blank">Institute of Computational Perception</a></nobr> @ <nobr><a href="https://www.jku.at/" target="_blank">JKU Linz</a></nobr>, Austria</div>


    <div class="navigation-buttons"> 
        <ul>
            <li class="home-button">
                <a href="{{ site.baseurl }}/"><span class="nav-icon"><i class="fa fa-home"></i></span><span class="nav-text">Home</span></a>
            </li>
            <li class="team-button">                
                <a href="{{ site.baseurl }}/team/"><span class="nav-icon"><i class="fa fa-group"></i></span><span class="nav-text">Team</span></a>
            </li>
            <li class="project-button">
                <a href="{{ site.baseurl }}/projects/"><span class="nav-icon"><i class="fa fa-university"></i></span><span class="nav-text">Projects</span></a>
            </li>
            <li class="publication-button">
                <a href="{{ site.baseurl }}/publications/"><span class="nav-icon"><i class="fa fa-book"></i></span><span class="nav-text">Publications</span></a>
            </li>
            <!--<li class="publication-button">
                <a target="_self" href="https://www.jku.at/en/research/research-documentation/research-unit/308/" target="_blank"><span class="nav-icon"><i class="fa fa-book"></i></span><span class="nav-text">Publications</span></a>
            </li>
            <li class="publication-button" hidden>
                <a href="{{ site.baseurl }}/publications/"><span class="nav-icon"><i class="fa fa-book"></i></span><span class="nav-text">Publications</span></a>
            </li>-->
            <li class="teaching-button">
                <a target="_self" href="https://www.jku.at/en/institute-of-computational-perception/teaching/current-semester/" target="_blank"><span class="nav-icon" style="vertical-align: sub;"><img src="{{ site.baseurl }}/assets/images/icons/icon-teaching.svg" height="15"></span><span class="nav-text">Teaching</span></a>
            </li>
            <li class="about-us-button">
                <a href="{{ site.baseurl }}/about-us/"><span class="nav-icon"><i class="fa fa-comments-o"></i></span><span class="nav-text">About Us</span></a>
            </li>

            <!-- <li class="home-button">
                <a href="{{ site.baseurl }}/"><span class="nav-icon"><i class="fa fa-home"></i></span><span class="nav-text">Home</span></a>
            </li>
            <li class="team-button">
                <a href="{{ site.baseurl }}/team/"><span class="nav-icon"><i class="fa fa-user"></i></span><span class="nav-text">Team</span></a>
            </li>
            <li class="publication-button">
                <a href="{{ site.baseurl }}/publications/"><span class="nav-icon"><i class="fa fa-book"></i></span><span class="nav-text">Publications</span></a>
            </li>
            <li class="teaching-button">
                <a href="https://www.jku.at/en/institute-of-computer-graphics/teaching/" target="_blank"><span class="nav-icon"><i class="fa fa-group"></i></span><span class="nav-text">Teaching</span></a>
            </li> -->
            

        </ul>
    </div>

</div>
