---
layout: default
---
<div class="about-us">

    <!--maps flexbox css--> 
    <style>
        .maps-container {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
        }
        .maps-container iframe {
            flex: 1;
            min-width: 300px;
        }
    </style>

    <header class="about-us-title">
        <h1>About Us</h1>
        <!-- <h1>{{ page.title | remove: "| JKU Visual Data Science Lab" }}</h1> -->
    </header>

    <article class="about-us-content-main">

        <!-- <h1>About</h1> -->
        <p>
            Founded in 2019, we are a young and multidisciplinary research team dedicated to conducting innovative research at the intersection of machine learning, multimedia, ethics, psychology, and sociology. We create cutting-edge technology at the forefront of the following research areas:

        </p>
        <ul>
		<li>Recommender Systems</li>
        <li>Information Retrieval</li>
        <li>Natural Language Processing</li>
        <li>Multimedia Processing, Analysis, and Retrieval</li>
        <li>Intelligent User Interfaces</li>
        <li>Affective Computing</li>
        <li>Ethics in AI (Fairness, Explainability, and Trustworthiness)</li>
	</ul>
        <p>
	    We have been engaged in projects funded by the European Commission (EC), the Austrian Science Fund (FWF), the Austrian Research Promotion Agency (FFG), the State of Upper Austria, 
	    and the Federal Ministry of Education, Science, and Research. We also maintain collaborations with industry, among others with Siemens, Microsoft, Spotify, and Deezer. 
	    We also offer consulting activities on the topics mentioned above.
	</p>
    <br>  
    </article>

   
    <article class="about-us-content-bottom">

        <h2> Selected Collaborators</h2><p> </p>

        <article class="about-us-content-bottom-left">
            <h3>Universities</h3>
            <ul class="institution-icon-list">
                {% for collaborator in site.collaborators %}
                {% if collaborator.national == false and collaborator.industry == false%}
                    <a href="{{ collaborator.website }}">{{ collaborator.name-short }}</a> <br>
                {% endif %}
                {% endfor %}
            </ul>
        </article>
        <article class="about-us-content-bottom-middle">
            <ul class="institution-icon-list">
                {% for collaborator in site.collaborators %}
                {% if collaborator.national == true and collaborator.industry == false%}
                    <a href="{{ collaborator.website }}">{{ collaborator.name-short }}</a> <br>
                {% endif %}
                {% endfor %}
            </ul><br>
            <h3>Industry</h3>
            <ul class="institution-icon-list">
                {% for collaborator in site.collaborators %}
                {% if collaborator.industry == true%}
                    <a href="{{ collaborator.website }}">{{ collaborator.name-short }}</a> <br>
                {% endif %}
                {% endfor %}
            </ul>
        </article>
        <article class="about-us-content-bottom-right">
            
        </article>


 <article class="home-content-bottom">
                
    <!-- Contact Us am Ende -->
        <article class="home-content-bottom">
            <br> 
            <br>
            <h2 >Contact Us</h2> <p> </p>
            <p>
                If you are interested in our research activities or in collaborating with us, please mail to:
                <a href="mailto://info@hcai.at" target="_blank">info@hcai.at</a> or visit us in our offices at JKU, Science Park 3, 4040 Linz or Biberstraße 11/14, 1010 Wien:
            </p>

            <div class="maps-container">
                <iframe src="https://www.google.com/maps/embed?pb=!4v1647613429384!6m8!1m7!1sCAoSLEFGMVFpcE4xMGdOb2I4bGJoTjc4eVFaTHBYQmVxYS1ieTgyME9vV2hEZmx2!2m2!1d48.3354077!2d14.3239423!3f128.892417662228!4f12.306696425587262!5f0.7820865974627469" width="525" height="320" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                <iframe src="https://www.google.com/maps/embed?pb=!4v1759746092714!6m8!1m7!1sQYL_1hLpYGh5AhsGulkG7g!2m2!1d48.20899655137913!2d16.38095191757553!3f291.4!4f1.9500000000000028!5f0.7820865974627469" width="525" height="320" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </article>
                

    </article>
</div>
