---
layout: default
---
<div class="home">

    <header class="home-title">
        <h1>Welcome</h1>
        <!-- <h1>{{ page.title | remove: "| JKU Visual Data Science Lab" }}</h1> -->
    </header>

    <article class="home-content-main">

        <!-- <h1>About</h1> -->
        <p>
            Welcome to the Human-centered Artificial Intelligence (HCAI) group at the <a href="https://www.jku.at/linz-institute-of-technology/">Linz Institute of Technology, Artificial Intelligence Lab</a>!<br>
            Welcome to the Multimedia Mining and Search (MMS) group at the <a href="https://www.jku.at/institut-fuer-computational-perception/">Institute of Computational Perception</a> of the <a href="https://www.jku.at/">Johannes Kepler University Linz</a>!
 
            While the HCAI and MMS groups are formally different entities, they are strongly interwoven in terms of research, staff, and administration.<br><br>

            We create cutting-edge technology at the forefront of the following research areas:

        </p>
        <ul>
		<li>Recommender Systems</li>
		<li>Information Retrieval</li>
		<li>Natural Language Processing</li>
		<li>Multimedia Processing, Analysis, and Retrieval</li>
		<li>Intelligent User Interfaces</li>
		<li>Affective Computing</li>
		<li>Ethics in AI (Fairness, Explainability, and Trustworthiness)</li>
	</ul>
        
    </article>

    <article class="home-content-aside">
        <h2>Mission</h2>
        <p>
            AI technology permeates more and more aspects of our daily life. Considering human factors in the development of corresponding algorithms and systems is, therefore, a timely and highly important research topic, which is unfortunately often neglected in the more technically driven AI communities. In our group, in contrast, we elaborate methods and algorithms to create AI technology that puts the human in the focus instead of adopting a purely system-centric perspective. Among others, we elaborate comprehensive user models, develop personalization techniques (e.g., for search and recommender systems), and conduct studies on human-technology interaction. Furthermore, our research aims at uncovering data, algorithmic, presentation, and cognitive biases, and at ensuring transparency and fairness of machine learning algorithms.

        </p>
        <h2>FWF doc.funds.connect project HCAI</h2>
        <p>
            Our group is also a member (and Markus Schedl a co-coordinator) of the 
            <!-- <nobr> -->
                <a target="_self" href="http://dfc.hcai.at/" target="_blank">FWF doc.funds.connect research and education program Human-centered Artificial intelligence.</a>
            <!-- </nobr>. -->
        </p>
<div> 
 <h2>Contact Us</h2>
		<ul>
        <p>
            If you are interested in our research activities or in collaborating with us, please mail to: <a href="mailto://info@hcai.at" target="_blank">info@hcai.at</a> or visit us in: <a href="https://www.google.com/maps/place/Science+Park+3/@48.3351096,14.3220006,17z/data=!4m8!1m2!2m1!1sscience+park+3+4.+stock!3m4!1s0x4773991d5880f437:0xc58d7ca1cdc2b04!8m2!3d48.3351119!4d14.3242242/" target="_blank">Science Park 3, JKU, Linz, Austria</a>  
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!4v1647613429384!6m8!1m7!1sCAoSLEFGMVFpcE4xMGdOb2I4bGJoTjc4eVFaTHBYQmVxYS1ieTgyME9vV2hEZmx2!2m2!1d48.3354077!2d14.3239423!3f128.892417662228!4f12.306696425587262!5f0.7820865974627469" width="525" height="320" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	<br>
	<br>
	<p> <a href="https://maps.app.goo.gl/21Po4zszQkRS71FB7" target="_blank"> Biberstraße 11, 4th floor, Vienna, Austria</a>  
        </p>
<iframe src="https://www.google.com/maps/embed?pb=!4v1759746092714!6m8!1m7!1sQYL_1hLpYGh5AhsGulkG7g!2m2!1d48.20899655137913!2d16.38095191757553!3f291.4!4f1.9500000000000028!5f0.7820865974627469" width="525" height="320" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	<br> 	
	</ul>
	</div>
    </article>
    <article class="home-content-bottom">
        
    </article>
</div>
