---
layout: default
---
<header class="projects-title">
  <h1>{{ page.title | remove: "| JKU Visual Data Science Lab" }}</h1>
</header>

<article class="projects-content">

  <div class="pub-nav">
    <ul>
      <li>
        <a href="#eu"><span>EU Projects</span></a>
      </li>
      <li>
        <a href="#fwf"><span>FWF Projects</span></a>
      </li>
      <li>
        <a href="#ffg"><span>FFG Projects</span></a>
      </li>
      <li>
        <a href="#lit"><span>LIT Projects</span></a>
      </li>
      <li>
        <a href="#industry"><span>Industry Projects</span></a>
      </li>
      <li>
        <a href="#others"><span>Other Projects</span></a>
      </li>
    </ul>
  </div>

  <br>

  <h1 id="eu">European Funding Bodies (EC, COST)</h1>
  {% for project in site.projects reversed %}
    {% if project.type == "EU" %}
         <div class="project-list-block">
           <i class="project-year">{{ project.year }}</i>
       <p> 
          {% if project.ext_url %}
       <b><a href="{{ project.ext_url }}" target="_blank">{{ project.title }}</a></b>
          {% else %}
          <b>{{ project.title }}</b>
          {% endif %}
        {{ project.description }}, funded by
        {{ project.funding_agency }} </p>
      </div>
    {% endif %}
  {% endfor %}

  <br>

  <h1 id="fwf">Austrian Research Fund (FWF) </h1>
  
  {% for project in site.projects reversed  %}
    {% if project.type == "fwf" %}
  <div class="project-list-block">
           <i class="project-year">{{ project.year }}</i>
       <p> 
       <b><a href="{{ project.ext_url }}" target="_blank">{{ project.title }}</a></b>
        {{ project.description }}, funded through
        {{ project.funding_agency }} </p>
      </div>
    {% endif %}
  {% endfor %}

  <br>

  <h1 id="ffg">Austrian Promotion Agency (FFG) </h1>
  {% for project in site.projects reversed  %}
    {% if project.type == "ffg" %}
    <div class="project-list-block">
           <i class="project-year">{{ project.year }}</i>
       <p> 
           {% if project.ext_url %}
       <b><a href="{{ project.ext_url }}" target="_blank">{{ project.title }}</a></b>
           {% else %}
          <b>{{ project.title }}</b>
          {% endif %}
        {{ project.description }}, funded through
        {{ project.funding_agency }} </p>
      </div>
    {% endif %}
  {% endfor %}

  <br>

  <h1 id="lit">Linz Institute of Technology (LIT)</h1>
  {% for project in site.projects reversed  %}
    {% if project.type == "LIT" %}
 <div class="project-list-block">
           <i class="project-year">{{ project.year }}</i>
       <p> 
           {% if project.ext_url %}
       <b><a href="{{ project.ext_url }}" target="_blank">{{ project.title }}</a></b>
           {% else %}
          <b>{{ project.title }}</b>
          {% endif %}
        {{ project.description }}, funded by
        {{ project.funding_agency }} </p>
      </div>
    {% endif %}
  {% endfor %}

  <br>

  <h1 id="industry">Industry Projects</h1>
  {% for project in site.projects reversed  %}
    {% if project.type == "industry" %}
 <div class="project-list-block">
           <i class="project-year">{{ project.year }}</i>
       <p> 
          {% if project.ext_url %}
       <b><a href="{{ project.ext_url }}" target="_blank">{{ project.title }}</a></b>
          {% else %}
          <b>{{ project.title }}</b>
          {% endif %}
         {{ project.description }}, funded by
        {{ project.funding_agency }} </p>
      </div>
    {% endif %}
  {% endfor %}

  <br>

  <h1 id="others">Other Projects</h1>
  {% for project in site.projects reversed  %}
   {% if project.type == "other" %}
 <div class="project-list-block">
           <i class="project-year">{{ project.year }}</i>
       <p> 
                   {% if project.ext_url %}
       <b><a href="{{ project.ext_url }}" target="_blank">{{ project.title }}</a></b>
           {% else %}
          <b>{{ project.title }}</b>
          {% endif %}
        {{ project.description }}, funded by
        {{ project.funding_agency }} </p>
      </div>
    {% endif %}
  {% endfor %}

</article>
